# segmenting and clustering neighborhoods in toronto

#### For completion of this assignment we will create a three notebook 
#### In first notebook first we will aquire data and for this assignment we need to scrap wikipedia page using this url <a> https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M </a>
#### there are different website scraping libraries and packages in python for scarping web page we will use pandas in these notebook or either we can also use BeautifulSoap package

In [3]:
# download python library for web scraping
!pip install lxml

Requirement already satisfied: lxml in ./opt/anaconda3/lib/python3.8/site-packages (4.5.2)

In [2]:
#import pandas library
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)
print(len(dfs))

3

In [3]:
print(len(dfs[0]))
dfs[0].columns

180

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [4]:
df=dfs[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
#rename columns
df.rename(columns={'Postal Code': 'postal_code', 'Neighbourhood': 'Neighborhood'}, inplace=True)

In [6]:
df.head()

  postal_code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
#drop record with Borough not assigned 
df=df[df['Borough']!='Not assigned']
df.reset_index(drop=True, inplace=True)
df.head()

  postal_code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
#check number od rows and columns of our dataframe
df.shape

(103, 3)

In [9]:
#save dataframe in data file in csv format
df.to_csv('data.csv')